<?php if (isset($params_viewIndex['filtr'])){ ?>
<div id="filtration">
	<?php 
	//pr($ano_ne);
	foreach($params_viewIndex['filtr'] AS $key=>$item){
    if($item == "break"){
      echo '<br />';
    }

		//pr($item);
		//list($name,$model,$type,$select_list) = explode('|',$item);
		$item = explode('|',$item);
		if (isset($item[0])) $name = $item[0];
		if (isset($item[1])) $model = $item[1];
		if (isset($item[2])) $type = $item[2];
		if (isset($item[3])) $select_list = $item[3];
		if (isset($item[4])) $url = $item[4];

		if ($type == 'text'){
			echo $this->Form->input($model, ['title' => $name,'placeholder' => $name,'label'=>false,'class'=>'text fst_h','data-fparams'=>$model]);
		}
		if ($type == 'date'){
			echo $this->Form->input($model, ['title' => $name,'placeholder' => $name,'label'=>false,'class'=>'text fst_h date','data-fparams'=>$model.'|date']);
		}
		if ($type == 'text_like'){
			echo $this->Form->input($model.'|like', ['title' => $name,'placeholder' => $name,'label'=>false,'class'=>'text fst_h','data-fparams'=>$model.'|like','data-like'=>true]);
		}
		if ($type == 'select'){
			echo '<div class="input text">';
				//echo $this->Form->label($model, $name.':');
				echo $this->Form->select($model,[''=>$name]+$$select_list, ['class'=>'text fst_h','data-fparams'=>$model,'empty'=>false]);
			echo '</div>';
		}
	}
	echo $this->Form->button(__('Filtrovat'), ['class' => 'btn','id'=>'FiltrRun']);
	echo $this->Form->button(__('Zrušit'), ['class' => 'btn', 'id' => 'FiltrCancel']);

	?>
</div>
<?php } ?>