<div class="row">
	<div class="col two">
		<?= $this->Form->input("name", ["label" => __("Název")]); ?>
	</div>
	<div class="col one">
		<?= $this->Form->input("active", ["label" => "Aktivní", "options" => $bool]); ?>
	</div>
	<div class="clear"></div>
	<h2><?= __("Oprávnění skupiny") ?></h2>
	<?php
		pr(\Cake\Core\Configure::read("Auths"));
	?>
</div>