<div class="menu">
  <ul>
  <?php
    echo '<li>'.$this->Html->link(__("Klient"), ['action' => 'view', $client->id], ['class' => (($this->request->action == 'view')? 'active' : null)]).'</li>';
    echo '<li>'.$this->Html->link(__("Kontaktní osoby"), ['action' => 'view_contacts', $client->id], ['class' => (($this->request->action == 'viewCotacts')? 'active' : null)]).'</li>';
  ?>
  </ul>
</div>