<div class="row">
    <div class=" one-half column copyright">
        <a href="https://www.facebook.com/Autop%C5%AFj%C4%8Dovna-Adiv-1579989582228457/?fref=ts" title="Facebook autopůjčovny Adiv"></a><span>&#169;2015 Všechna práva vyhrazena</span>
    </div>
    <div class="one-half column fastest">
            <a href="http://www.fastest.cz/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Odkazy','Kliknuti', 'Fastest Solution']);" title="Tvorba webových stránek" id="fastest-logo" class="fastest "></a>
    </div>
</div>