@font-face {
    font-family: 'UbuntuBold';
    src: url('ubuntu-b.eot');
    src: url('ubuntu-b.eot') format('embedded-opentype'),
         url('ubuntu-b.woff') format('woff'),
         url('ubuntu-b.ttf') format('truetype'),
         url('ubuntu-b.svg#UbuntuBold') format('svg');
}
