/*
@import "base.css";
@import "fonts/fonts.css";
@import "mixins.less";
@import "response.less";
@import "pospiech.less";
*/
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– 
*/
h1, h2, h3, h4, h5, h6 {
  
  font-weight: 500; 
  color:@heading;
  margin:1rem 0;
  }
  
/* Larger than phablet */

  h1 { .font_size(2.5); font-weight:bold;
       &.login {
           .font_size(3);
           margin-bottom:3rem;
       } 
  }
  h2 { .font_size(2); }
  h3 { .font_size(1.8); }
  h4 { .font_size(1.6); }
  h5 { .font_size(1.4); }
  h6 { .font_size(1); }


/* BASIC */


html {
  font-size: 62.5%; 
  height:100%;
}

body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: 'opensans',Tahoma, sans-serif;
    background:@bg;
     
    div,nav,header,section,article {
        .box_sizing();
    }
    
    .fa {
       .font_size(2.5);
      font-weight: 100;
       margin: 5px;
      color: @fa;

      &.active {
        color: @fastest !important;
      }
    }
}

.top-menu{
  overflow: hidden;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;

  .fa{
    font-size: 16px;
    margin: 0;
  }

  ul {
    float: left;

    &.user {
      float: right;

      li:first-of-type{
        padding-right: 15px;
      }
    }
  }

  li{
    border-right: 1px solid #555;
    height: 50px;
    line-height: 50px;
    display:inline-block;
    list-style: none;
    color: #FFF;
    margin: 0;
    float:left;

    a{
      padding: 0 15px;
      color: #FFF;
      height: 50px;
      display:inline-block;

      &:hover{
        background: #555;
      }
    }
  }

}

/* PAGE WRAP */
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -350px;
}

.page-wrap:after {
    content: "";
    display: block;
}

/* HEADER */

#top-header {
    background:@white;
    height:75px;
    
    #logo {
        display:inline-block;
        color:@fastest;
        .font_size(3.3);
        margin-top:21px;
        text-decoration: none;
    }
    
    ul.user-menu {
        display: inline-block;
        margin-top:25px;
        
        li {
            display:inline-block;
            
            a {
               padding: 0 8px;
               .font_size(2);
               text-decoration: none;
            }
            
            &.user {
                margin-right:15px;
               
               strong {
                    display:inline; 
               
               } 
            }
            
            &.notify {
                span.fa:hover:before {
                    color:#FFC600;
                }
            }
            
            &.cal{
                span.fa:hover:before {
                    color:#0088cc;
                }
            }
            
            &.logout{
                span.fa:hover:before {
                    color:#e4554e;
                }
            }
        } 
    }
}

#sub-header {
    height:60px;
    background:@white;
    h1 {
        font-family: ubuntu;
        margin-top:19px;
        font-weight:100; 
    }
}

/* CONTENT */
    
section#content {
    margin:5px 5px 5px;
    
    .item {
        
        margin-bottom:35px;
        
       .inner {
          padding:20px;  
          background:@white; 
          min-height:350px;
          .transition(box-shadow,0.3s);
          
           &.red {
            h2 { color:@red; text-transform:uppercase; font-weight: bold;}   
            /*border-left: 7px solid @red;*/
           }
           
           &.green {
            h2 { color:@green; text-transform:uppercase; font-weight: bold;}   
            /*border-left: 7px solid @green;*/
           }
           
           &.blue {
            h2 { color:@blue; text-transform:uppercase; font-weight: bold;}      
            /*border-left: 7px solid @blue;*/
           }
           
           &.yellow {
            h2 { color:@yellow; text-transform:uppercase; font-weight: bold;}   
            /*border-left: 7px solid @yellow;*/
           }
           
           &:hover {
             .transition(box-shadow,0.3s);
             .box-shadow (2px 2px 3px #ddd);
           }
           
           h2 {
            margin-top:0;
           }
        }
    }
}


.col{
    width: 100%;

    &.c1{
        width: 25%;
    }

    &.half, &.c2{
        width: 50%;
    }

    &.c3{
        width: 75%;
    }
}


/* TABLES */

.layout {
	margin-top:50px;
  float:left;
  width: 100%;
}

.pagination{
    list-style: none;

	text-align:center;
    li, span{
        display:inline-block;
    }

    li.active{
      a{
        color: @fastest;
      }
    }

    a{text-decoration: none; padding: 5px; color: #000; font-weight: bold;}

    span.counter{
        margin: 0 20px;
    }
}

.modal-overdiv{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 9998;
    display: none;
}

	.modal-contentdiv{
    bottom: 0;
    left: 0;
    margin: 20px auto 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    max-width: 95%;
    height: 100%;
    width: 100%;
    text-align: center;

    .fa:hover{
      color: #FFF;
    }
	
    .close{
        color: #FFF;
        font-size: 25px;
        cursor:pointer;
        position: absolute;
        right: 0px;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        font-weight: 100 !important;
        top: 0;
        background: #363636;
    }

    .refresh{
        color: #FFF;
        font-size: 25px;
        cursor:pointer;
        position: absolute;
        right: 40px;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        font-weight: 100 !important;
        top: 0;
    }

    #modalWindow{
        background: #FFF;
        border: 0;
        width: 100%;
        height:100%;
        min-height: 700px;
    }
	#modal_preloader {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
	}

}

.bar{
    margin: 0 0 15px 0;
}

ul{
    padding: 0;
    margin: 0;
    color: inherit;
}

.fright{
    float:right;
}
.fleft{
    float:left;
}

.mcenter{
    margin: 0 auto;
}

.tcenter{
    text-align: center !important;
}

.mtop10{margin-top: 10px;}
.mtop20{margin-top: 20px;}


/* FOOTER */
footer,
.page-wrap:after {
   height:350px; 
}

footer {
    
    
    .footer {
        h2{
            font-weight:bold;
            color:@footer_h;
            margin-bottom:2rem;
        }

        p {
            color:#BEC6D0;
            font-weight:100;
            line-height:1.4
        }
    }

    #top-footer {
       height:300px; 
       padding:14px 0;
       background:@main;

       .item {
           margin:20px 0;
       }
    }

    #sub-footer {
      height:50px;
      background:@footer;
      padding:15px 0;
      color:#7B8890;
      font-weight:100;
      .font_size(1.3);

      .copyright {
          margin-top:3px;
      }

      a#fastest-logo {
         display:block;
         background:url('../img/logo-fastest.png') center center no-repeat;
         width:159px;
         height:22px;
         float:right;
      }
    }
}

/* FORM */

  .input.checkbox{
    label{
      display:inline-block;
      width: auto;
    }
    input{
      display:inline-block;
      width: auto;
      float:left;
      margin-right: 10px;
    }
  }

  label.preloader {
    &::before {
      content:'';
      position:absolute;
      top:17px;
      right:5px;
      width:30px;
      height:30px;
      background: transparent url('/css/validation/preloader_auto.gif') no-repeat center center;
    }
  }

  form{box-sizing: border-box;}

	fieldset{
		padding:10px;
		border:1px solid #EAEAEA;
		margin:0 0 10px 0;

	}

    * {
       .box_sizing();
       font-family:opensans;
    }

    div.input {
       position:relative;
    }

    div.radio {
        margin-bottom:15px;

        label {
            display:block;
            float:left;
            width:auto;
        }

        input {
            display:block;
            width:10%;
            float:left;
            position:relative;
            top:2px;
        }
    }

    label,
    input {
       width:100%;
       .box_sizing();
	   display:inline-block;
    }

    legend {
       .font_size(1.2);
       padding:0 10px;
	   color:#2C4CA4;
    }

	label {
		.font_size(1.2);
		float:left;
	}

    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=number],
    input[type=email],
    textarea,
    select  {
       background:#FBFBFB;
       width: 100%;
       height:30px;
       padding:0 10px;
       margin-right:10px;
       border: 1px solid #aaa;
	   .radius(3px);
	   .font_size(1.2);

       &:focus {
          border-color:#6F89C4;
       }

      &:disabled{
        border: none;
        background: transparent;
      }

    }

    textarea{
      padding:5px 10px;
    }

	select {
		.select_arrow();
	}

    button,
    input[type=submit] {
       display:block;
       margin-left:auto;
       margin-right:auto;
    }

    &.login {

    }



    .counter {
        position:absolute;
        top:-13px;
        right:2%;
        color:#bbb;
        .font_size(1.0);
    }

    .row .label{
      float:left;
      margin: 24px 0 0 0;
      font-weight: bold;
      font-size: 13px;
    }



/* MISC */

a.login {
    text-transform: uppercase;
    text-decoration: none;
    font-family: ubuntu;
    margin: auto;
    display: block;
    text-align: center;
    color:@heading;
    
    &:hover{
        color:#000;
    }
}
span.sort {
	font-family:'awesome';
}
.button_preloader {background: #73B307 url("/css/validation/preloader.gif") no-repeat right !important;padding-right:20px !important;}

.top-actions{
  margin: 10px 0;
  .btn{
    margin-right: 5px;
  }
}

.btn{
  .radius(4);
  padding: 10px 20px;
  color: @white !important;
  text-decoration: none;
  border: 1px solid #aa0000;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #dd4242 0%, #b23535 100%) repeat scroll 0 0;
  display: inline-block;
  border-radius: 2px;
  -webkit-box-shadow: -1px -1px 36px -2px rgba(0,0,0,0.17);
  -moz-box-shadow: -1px -1px 36px -2px rgba(0,0,0,0.17);
  box-shadow: -1px -1px 36px -2px rgba(0,0,0,0.17);

  span{
    color: @white;
    font-weight: 100;
    .font_size(1.4);
  }

  &.xs{
    padding: 0 3px;
    .font_size(1.4);
  }

  &:hover{
    .opacity(90);
  }

  &.block{
    display:block;
  }

  &.grey{
    background: #999 linear-gradient(to bottom, #888 0%, #777 100%) repeat scroll 0 0;
    border: 1px solid #666;
  }

  &.disabled{
    .opacity(40);
  }

}

.buttons{
  text-align: center;

  .submit{
    display: inline-block;
    margin: 0 10px;

    .btn{margin: 0;}
  }

  .btn{
    display: inline-block;
    margin: 0 10px;
  }
}

.invalid {
	border:1px solid #ff0000 !important;
}

.goocompleter_listbox {
    border: 1px solid #ccc;
    display: none;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    width: 400px;
	background:#fff;
	ul {
		padding:5px;
		li {
			list-style-type:none;
			border-bottom:1px solid #EAEAEA;
			line-height:25px;
			margin:0;
			padding:0 3px;
			.box_sizing();
			cursor:pointer;
			&.odd {
				background:#EAEAEA;
			}
			&:hover {
				background:#2C4CA4;
				color:#fff;
			}
		}
	}
}

.auto_loading {
	position:absolute;
	top:5px;
	right:13px;
	width:30px;
	height:20px;
	background:transparent url('/css/validation/preloader_auto.gif') no-repeat center center;
	
}

#login_box {
	background:#fff;
	padding:10px;
	margin:10% auto;
	position:relative;
	
	width:100%;
	max-width:500px;
	.box-shadow(3px 3px 3px #ccc);
	h1 {
		text-align:center;
	}
}

.message {
	margin:5px auto;
	text-align:center;
	padding:7px;
	.radius(3px);
	&.error {
		background:#EF514F;
		color:#fff;
		border:1px solid #F71E1Bl
	}
}

.multiselect {

  position: relative;

  .selectedWrapper {
    background: #FBFBFB;
    width: 100%;
    min-height: 30px;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-right: 10px;
    .select_arrow();
    .radius(3px);
    .font_size(1.2);

    &:focus {
      border-color: #6F89C4;
    }
  }

  .optionWrapper {
    background: #FFF;
    width: 100%;
    display:none;
    position: absolute;
    border: 1px solid #ddd;
    padding: 5px 0;
    .option {
      .noselect();
      margin: 0 5px;
      padding: 5px 10px;
      cursor:pointer;

      &.selected{
        background: @fastest;

        &:hover{
          background: @fastest;
        }
      }

      &:hover {
        background: #FaFaFa;
      }
    }
  }

  .selectedWrapper{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    line-height: 25px;
  }

  .option-selected{
    margin-right: 3px;
    border: 1px solid #ddd;
    display:inline-block;
    height: 23px;
    vertical-align: middle;
    padding: 0 5px;
  }
}

#autotable-menu{
  background: #FFF;
  position:absolute;
  z-index: 1000;
  display: inline-block;
  border: 1px solid #ccc;
  display:none;
  border-top: 3px solid @fastest;
  width: 200px;

  div{
    width: 100%;

    &:hover{
      background: @fastest;
      a {
        width: 100%;
        color: @white;
      }
    }
  }

  a{
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
  }
}

.collections {
  .table-formated {

    &#right-c {
      overflow-x: scroll;
      overflow-y: hidden;
      padding-left: 112px;

      .tr{
        z-index: 10;
      }
    }

    .tr {
      background: #F7F7F7;
      display:block;
      flex-direction: row;
      flex-wrap: nowrap;
      float:left;
      position: relative;

      &.today{
        .td {
          background: #ffd97f !important;
          border-right: 1px solid #fff7f4;
        }
      }

      &.full{
        width: 100%;
      }
    }

    .route-name{
      font-size: 10px !important;
    }

    .td {
      height: 60px;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: auto;  /* Magic! */
      display:inline-block;
      float:left;

    }

    .th {
      height: 40px;
      text-align: center;
      background: #333;
      color: #FFF;
      padding: 5px 10px;
      float:left;
      display:inline-block;
      vertical-align: middle;
      line-height: 30px;
      font-size: 12px;
      overflow: hidden;

      &.date-th{
        height: 60px;
        line-height: 50px;
        border-bottom: 1px solid #555;
        paddding: 0;
      }
    }

    .date {
      vertical-align: middle;
    }

    .input{
      margin: 3px 0;
    }
  }

  .collection{
    text-decoration: none;
    color: #000;
    background: #cecb83;
    padding: 7px 9px;
    .radius(5px);
    font-weight: bold;
    display:inline-block;
    cursor: pointer;
    span{
      font-size: 12px !important;
    }
    
    &.suggest{
      background: @white;
      border: 1px solid #bbb;
    }
    &.processed{
      background: #ffff99;
      color: #333;
      border: 1px solid #888;
    }
    &.ready{
      background: #ffff00;
    }
    &.opened{
      background: #ff9900;
    }
    &.closed{
      background: #29a329;
    }
    &.confirmed{
      background: #66ffff;
    }
    &.locked{
      background: #1a8cff;
    }
    
  }

  .call{
    width: 40px;
  }

}

.table-formated{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border:0 none;
  margin-bottom: 20px;

  -webkit-box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.17);
  -moz-box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.17);
  box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.17);

  thead.bordered{
    th{
      border-right: 1px solid #FFF;
    }
  }

  .w65{
    width: 65px;
    text-align: center;
  }

  th.poss{
    width: 100px;
    text-align: center;
  }

  tr.even, .tr.even {
      background: #eee;
  }

  tbody{
    tr:nth-child(odd){
      background: #f1f1f1;
    }
  }

  tr.odd, .tr.odd{
      background: #f1f1f1;
  }

  tr.selected, .tr.selected{
    td, .td {
      background: #96ADDD !important;
    }
  }
  tr:hover, .tr:hover {
    td, .td {
      background:#FFF;
    }
  }

  tr{
    &.green td:first-child{
      background: @provoz_green;
    }

    &.yellow td:first-child{
      background: @provoz_yellow;
    }

    &.red td:first-child{
      background: @provoz_red;
    }

    &.orange td:first-child{
      background: @provoz_orange;
    }

    &.blue td:first-child{
      background: @provoz_blue;
    }

    &.ping td:first-child{
      background: @provoz_ping;
    }

    &.asia td:first-child{
      background: @provoz_asia;
    }

    &.grey td:first-child{
      background: @provoz_grey;
    }

    &.brown td:first-child{
      background: @provoz_brown;
    }
  }

  .ord{
    cursor: row-resize;
  }

  th{
    background: #333;
    color: #FFF;
    padding: 8px 8px;
    text-align:left;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
    a {
      .font_size(1.2);
      color: #FFF;
      text-decoration: none;
    }
  }

  td{
    line-height: 20px;
    padding: 5px;
    border:0 none;
    color: @font;
    border-bottom:1px solid #E8E8E8;
    position: static;
    .button {
      vertical-align: middle;
      width: 25px;
      text-align: center;
      margin:0;
      padding: 0;
      span {
        margin: 0;
        font-size: 15px;
        color: #FFF;
        pointer-events: none;
      }
    }
  }

  &.secondary{
    padding: 10px;
  }

  &.horizontal{
    th{
      text-align: left;
    }
  }

}

th.date-th{
  min-height:50px;
}

.day6, .day7{
  th, .th{
    .opacity(60);
  }
  td, .td{
    background: #eee;
  }
}

.today{
  td, .td{
    background: #FFF !important;
  }

  th, .th{
    background: #ffff00;
    color: #000;
  }
}



.color{

  input{
    float:left;
    display:inline-block !important;
  }

  &.transparent{
    border: 4px solid @provoz_transparent;
  }

  &.green{
    border: 4px solid @provoz_green;
  }

  &.yellow{
    border: 4px solid @provoz_yellow;
  }

  &.red{
    border: 4px solid @provoz_red;
  }

  &.orange{
    border: 4px solid @provoz_orange;
  }

  &.blue{
    border: 4px solid @provoz_blue;
  }

  &.ping{
    border: 4px solid @provoz_ping;
  }

  &.asia{
    border: 4px solid @provoz_asia;
  }

  &.grey{
    border: 4px solid @provoz_grey;
  }

  &.brown{
    border: 4px solid @provoz_brown;
  }
}

#filtration {
  background: #333;
  border-bottom: 1px solid #fff;

  .autotable-filter-id{
    width: 40px;
  }
  .autotable-filter-ic{
    width: 80px;
  }

  .radius(5px 5px 0 0);
  padding: 10px 7px;
  position:relative;

  .fa{
    color: #FFF;
    vertical-align: middle;
  }

  label {
    display:inline-block !important;
    margin-right:3px;
    width: auto;
    float:none;
    font-weight: bold;
    margin:0 7px 4px 1px;
    color: #FFF;
    display:block;
    font-weight: 400;
  }

  div.input {
    display:inline-block;
    margin: 0 3px 4px 0;
    vertical-align: middle;

    input, select{
      border: 1px solid #444;
      padding: 4px;
      margin: 0;
    }

    select{
      padding-right: 20px;
    }


  }
  .btn {
    vertical-align: middle;
    padding: 0px 5px;
    height: 28px;
    line-height: 27px;
    margin: 0 5px 0 0;
    font-size: 12px;
    font-weight: bold;
  }

  #FiltrRun{
    margin-left: 15px;
  }
}

.cwhite{color : @white !important;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.collection-table{
  td, .td{
    border-right: 1px solid #fff;
    padding: 0;
    position: relative;
  }

  td .wrap, .td .wrap{
    padding: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    display:block;
  }
}

.collection-shops{
  .fa{
    font-size: 17px;
    margin: 0;
    color: #0000FF;

    &.fa-check{
      color: #259b24;
    }
    &.fa-remove{
      color :#aa0000;
    }

    &:hover{
      .opacity(50);
    }
  }

  #in-shops {
    tbody tr td:first-of-type {
      cursor: s-resize;
    }
  }

}

#stock-in-wrap, #stock-out-wrap{
  div:first-of-type{
    width: 22%;
    display:inline-block;
    float:left;
  }
  div{
    width: 75%;
    display:inline-block;
    float:right;
  }
}

.collection-shops .poss a{
  display: block;
}

.collection-table .draggable{ position: relative; z-index: 30; display:inline-block; margin-right: 5px; }
.collection-table .droppable.hovered{
    background: #C5EACA !important;
}
.collection-table{
  td, .td{

    &:hover{
      .add_item{
        display: block;
      }
    }

    .add_item{
      display: none;
      position: absolute;
      right: 5px;
      top: 6px;
      opacity: 0.7;

      &:hover{
        opacity: 1;
      }

      i{ color:  #aad039; }
    }
  }
}

.load{
  background: #ccc url("layout/loader.svg") no-repeat center center;
  .opacity(10);
}

#collections-layout .col{
  padding: 0 5px;
}

.handle-status{
  font-family: awesome;
  &.HANDLED{
    color: #259b24;
   &:before{
     content: "\f00c";
   }
  }
  &.NOT_HANDLED{
    color: #770000;
    &:before{
      content: "\f00d";
    }
  }
  &.SKIPPED{
    color: #000;
    &:before{
      content: "\f25b";
    }
  }
}