a:link {color:#002255; text-decoration: none;}
a:visited {color:#002255;}
a:hover {color:#002255;}


#top_menu2 {
	position:absolute;
	top:0;
	right:0;
	left:auto;
	width:auto;
}

#dashboard {
	margin-top:45px;
	#canvas_filtr {
		background:#F4F4F4;
		.radius(3px);
		border:1px solid #ccc;
		width:80%;
		margin:0 0 10px 0;
		padding:5px;
		.box_sizing();
		select {
			.select_arrow();
			border:1px solid #ccc;
			.radius(3px);
			margin:0;
			color:#666;
		}
		
		.select_checkboxs {
			float:right;
			margin:3px;
			font-size:12px;
		}
	}
	#load_canvas {
		float:left;
		width:80%;
		border:1px solid #ccc;
		height:100%;
		padding:5px;
		background:#F4F4F4;
		.radius(3px);
		.drag_relative {
			position:relative;
			display:inline-block;
			width:auto;
			vertical-align:top;
			margin:2px;
			
			&.prives {
				width:515px;
			}
		}
		
		&.preloader {
			background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
			
		}
		
		&.can_drop {
			background:#eaeaea;
		}
		.fst_drag.car_join_over {
			border:1px solid #ccc;
			background:#F49A9A;
			width:512px;
			height:110px;
			padding:0px;
			margin:5px;
			.car {
				margin:0 0px;
			}
		}
		.car {
			width:250px;
			height:110px;
			border:1px solid #ccc;
			.radius(3px);
			padding:5px;
			background:#E5E5E5;
			position:relative;
			margin:5px;
			padding:10px;
			float:left;
			cursor:move;
			/*overflow:hidden;*/
			position:relative;
			
			
			
			.prelozeno {
				display:none;
			}
			&.full ,&.full2{
				/*border:1px solid #FF8484;*/
				.prelozeno {
					display:block;
					position:absolute;
					top:30px;
					right:0;
					width:25px;
					height:25px;
				}
			}
			
			&.tahac {
				width:515px;
			}
			
				
			&.load_from_db {
				&::before {
					border-bottom:3px solid #2448A7;
					content:'';
					width:100%;
					height:4px;
					position:absolute;
					bottom:0;
					left:0;
				}
			}
				
			&.can_drop {
				border:1px solid #eaeaea;
			}
			
			.checkbox {
				position:absolute;
				top:34px;
				right:7px;
			}
			
			.spz ,.car_type{
				display:block;
				color:#666;
				font-size:11px;
				margin-top:3px;
			}
			
			.driver_detail {
				position:absolute;
				top:0;
				right:60px;
				width:25px;
				height:25px;
				background:#ccc;
				cursor:pointer;
				&.noload {
					.opacity(20);
				}
				
				
			}
			
			.delete_car {
				position:absolute;
				top:0;
				right:0;
				width:25px;
				height:25px;
				background:#ccc;
				cursor:pointer;
				
			}
			.fa {
				.radius(3px);
				&:hover {
					background:#666;
					&:before {
						color:#fff;
					}
				}
				&:before {
					font-size:17px;
					line-height:25px;
					display:block;
					text-align:center;
				}
			}
			
			.show_detail {
				position:absolute;
				top:0;
				right:30px;
				width:25px;
				height:25px;
				background:#ccc;
				cursor:pointer;
			}
			
			.zakazka_ids {
				position:absolute;
				top:3px;
				right:3px;
				display:none;
				
			}
			
			.progress_over {
				position:absolute;
				bottom:3px;
				left:1%;
				width:98%;
				overflow:hidden;
			}
			
			.progr {
				width:0%;
				height:20px;
				.radius(5px);
				position:relative;
				width:100%;
				height:20px;
				.radius(5px);
				background:#ccc;
				margin:0 0 2px 0;	
				
				span {
					font-size:10px;
					display:block;
					text-align:center;
					position:absolute;
					left:5px;
					top:3px;
				}
				div.pr {
					left:0;
					top:0;
					position:absolute;
					height:20px;
					width:0;
					.radius(5px);
					border:1px solid #ccc;
						
				}
				&.progress div.pr{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#baedb4+0,598c68+100 */
					background: rgb(186,237,180); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(186,237,180,1) 0%, rgba(89,140,104,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(186,237,180,1) 0%,rgba(89,140,104,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(186,237,180,1) 0%,rgba(89,140,104,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baedb4', endColorstr='#598c68',GradientType=0 ); /* IE6-9 */
				}

				&.progress2 div.pr{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2bfd6+0,727eb2+100 */
					background: rgb(162,191,214); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(162,191,214,1) 0%, rgba(114,126,178,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(162,191,214,1) 0%,rgba(114,126,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(162,191,214,1) 0%,rgba(114,126,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2bfd6', endColorstr='#727eb2',GradientType=0 ); /* IE6-9 */
				}

			}
			/*
			.fst_drag {
				position:absolute;
				bottom:0;
				right:-4px;
				background:#fff;
				cursor:move;
				width:20px;
				height:20px;
				.radius(3px);
				&.fa{
					&::before {
						background:#fff;
						line-height:20px;
						
					}
					&:hover::before {
						background:#ccc;
						color:#000;
					}
				}
			}
			*/
			
			.car_join {
				position:absolute;
				bottom:0;
				right:-4px;
				background:#fff;
				width:20px;
				height:20px;
				cursor:pointer;
			}
			
		}
	}
	#side_menu {
		position:relative;
		float:right;
		width:19%;
		background:#F4F4F4;
		padding:0 5px;
		.box_sizing();
		border:1px solid #ccc;
		.radius(2px); 
		.drag_relative {
			margin:auto;
		}
		.fst_drag {
			z-index:151;
		}
		
	}

	#zakazka_kos {
		position:absolute;
		top:0;
		right:0;
		width:200px;
		height:50px;
		background:#ccc;
		
		&.can_drop {
			background:#eaeaea;
		}
	}

	#switch_content_menu {
		position:relative;
		height:30px;
		top:-1px;
		z-index:1;
		li {
			height:30px;
			float:left;
			list-style-type:none;
			margin:0;
			a {
				display:block;
				padding:0 10px;
				text-decoration:none;
				background:#EAEAEA;
				.radius(5px 5px 0 0);
				line-height:30px;
				border:1px solid #ccc;
				&.active,&:hover {
					background:#fff;
					border-bottom:1px solid #fff;
					
				}
			}
		}
	}

	#switch_content {
		clear:both;
		border:1px solid #ccc;
		position:relative;
		width:100%;
		background:#fff;
		min-height:100px;
		padding-bottom:10px;
	
		&.modal_over {
			.opacity(20);
		}
		
		.tabs {
			width:100%;
			top:0;
			left:0;
			
		}
		.load_data {
			width:100%;
			min-height:100px;
			&.preloader {
				background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
				
			}
			.fa {
				&:before {
					font-size:15px;
					display:block;
					text-align:center;
				}		
			}
		}
	}	
}

#modal_over {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	display:block;
	z-index:100;
}
#modal {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:1000px;
	min-height:200px;
	background:#fff;
	display:block;
	z-index:100;
	margin:20px auto 0;
	padding:10px;
	z-index:1000;
	.box_sizing();
	.radius(5px);
	.box-shadow(3px 3px 3px #666);
	
	&.side {
		.box-shadow(none);
		.radius(0);
		right:7px;
		left:auto;
		top:auto;
		bottom:12px;
		
		.modal_close {
			right:auto;
			left:-20px;
		}
		
	}
	
	.fa {
		&:before {
			font-size:15px;
			display:block;
			text-align:center;
		}		
	}
	
	.modal_fce {
		width:100%;
		height:30px;
		margin-top:5px;
		background:#1C45AA;
		.fa::before {
			font-size:20px;
		}
		.show_sklad {
			display:inline-block;
		}
		.fa {
			&.sklad1::before {
				color:#EAEAC5;
			}
			&.sklad2::before {
				color:#C5EACA;
			}
		}
	}
	#modal_load {
		
	}
	&.preloader {
		background:#fff url('/css/validation/preloader_load.gif') no-repeat center center;
	}
	.modal_close {
		cursor:pointer;
		position:absolute;
		top:-20px;
		right:-20px;
		width:30px;
		height:30px;
		.radius(15px);
		background:#fff;
		.box-shadow(2px 2px 2px #666);
		&.fa{
			&:before {
				font-size:20px;
				color:#000;
				line-height:30px;
				display:block;
				text-align:center;
			}
		}
	}
}

table.table {
	width:100%;
	tr {
		th,td {
			padding:3px;
			
			.button {
				margin:0;
			}
		}
		th {
			font-weight:bold;
		}
	}
}

.element_drag {
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ccc;
	padding:0 5px;
	.box_sizing();
	display:inline-block;
	z-index:100;
	cursor:move;
	width:98%;
	margin:auto;
	position:relative;
	&:hover {
		background:#EFF3F8;
	}
	
	
	&.zakazky_list,&.driver_list {
		min-height:50px;
		height:auto;
		font-size:11px;
		line-height:13px;
		padding-bottom:10px;
		label {
			display:inline-block;
			margin:0 5px 0 0;
			font-weight:bold;
		}
		.sll,.slr {
			label {
				width:32%;
			}
		}
		.price {
			position:absolute;
			top:5px;
			left:30px;
		}
		.name {
			position:absolute;
			top:5px;
			right:5px;
			color:#666;
		}
		
		.detail_hover {
			position:absolute;
			bottom:0;
			left:-400px;
			width:400px;
			background:#EFF3F8;
			border:1px solid #ccc;
			.radius(5px 0px 0px 5px);
			padding:5px;
			.box-shadow(3px 3px 3px #ccc);
			
			
			fieldset {
				border:1px solid #ccc;
				padding:3px;
				position:relative;
				legend {
					color:#3B539F;
					font-weight:bold;
					margin:2px;
					padding:0 5px;
				}
				label {
					width:35%;
				}
			}
			.show_map {
				position:absolute;
				top:-5px;
				right:2px;
				padding:0 5px;
			}
			#show_map {
				position:absolute;
				top:0px;
				left:-400px;
				width:400px;
				height:250px;
				z-index:100;
				padding:3px;
				border:1px solid #ccc;
				background:#fff url('/css/validation/preloader_load.gif') no-repeat center center;
				
			}
		}
		&.first {
			.detail_hover {
				bottom:auto;
				top:0;
			}
		}
	}
	
	&.driver_list {
		font-size:13px;
		min-height:30px;
	}
	
	&.car_list {
		height:50px;
	}
	
	span {
		&.name {
			font-weight:bold;
			position:absolute;
			top:0px;
			left:35px;
		}
		&.number {
			position:absolute;
			top:0px;
			right:0px;
			font-size:11px;
			color:#666;
		}
		&.spz {
			position:absolute;
			top:0px;
			right:0px;
			font-size:11px;
			color:#666;
		}
		&.type {
			position:absolute;
			bottom:0px;
			right:0px;
			font-size:11px;
			color:#666;
		}
	}
						
}

.drag_relative {
	height:30px;
	position:relative;
	width:100%;
	
}
.noresult {
	margin:10px;
	background:#FFCECE;
	padding:5px;
	text-align:center;
}

.delete_zakazka,.delete_driver {
		text-decoration:none
		&.fa {
			&:before {
				font-size:20px;
				color:#fff;
				display:block;
				text-align:center;
			}		
		}
}


#dashboard_kos {
	position:relative;
	top:0;
	right:0;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#4650AA;
	color:#fff;
	font-size:15px;
	.radius(5px);
	margin:10px auto;
	&.can_drop {
		background:#CF3E3E;
	}
}

#history_preloader {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.5) url('/css/validation/preloader_load.gif') no-repeat center center;
	
}
#select_dispecer {
	background:rgba(204,204,204,0.8);
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0;
	z-index:199;
	div {
		position:absolute;
		top:10px;
		left:0;
		right:0;
		background:#fff;
		.box-shadow(3px 3px 3px #ccc);
		line-height:50px;
		width:80%;
		margin:auto;
		text-align:center;
		z-index:200;
		.radius(3px);
		select {
			width:80%;
			height:40px;
			.radius(3px);
			border:1px solid #666;
			
		}
	}
}
.fst_drag {
	z-index:150;
}	

#logged_info {
	position:absolute;
	top:30px;
	right:0;
	width:233px;
	background:#fff;
	border:1px solid #284AA6;
	.radius(0 0 3px 3px);
	padding:5px;
	z-index:200;
	
	label {
		font-weight:bold;
		display:inline-block;
		width:60px;
	}
}

#context_menu {
	position:fixed;
	width:200px;
	background:#F4F4F4;
	z-index:10000;
	border:1px solid #666;
	
	li {
		list-style-type:none;
		margin:0;
		padding:5px;
		cursor:pointer;
		&:hover {
			color:#fff;
			background:#3B539F;
		}
	}
}

.row h2{
  margin-left: 15px;
  margin-bottom: 15px;
}

.map-container{
  cursor:crosshair;
  margin: 0 0 25px 0;
  display:none;
}