/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2.2.2016, 8:32:41
    Author     : Radovan
*/

.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  .box_sizing();
}

.row {
  /*margin-left:-15px;
  margin-right:-15px;*/
}

table.table-formated .columns {
  padding: 0 5px;
}

.col,
.columns {
  width: 100%;
  float: left;
  padding: 0 15px;

  &.center {
    margin: auto;
    float: none;
  }

  &.poss {
    padding-top: 19px;

    a .fa, a .fa::before {
      font-size: 16px;
      font-weight: 100;
      color: #000 !important;
    }
  }

  &.inner {
    padding: 0;
  }
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 65%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .one.col,
  .one.col {
    width: 8.333333333333333%;
  }

  .two.col {
    width: 16.66666666666667%;
  }

  .three.col {
    width: 25%;
  }

  .four.col {
    width: 33.33333333333333%;
  }

  .five.col {
    width: 41.66666666666667%;
  }

  .six.col {
    width: 50%;
  }

  .seven.col {
    width: 58.33333333333334%;
  }

  .eight.col {
    width: 66.66666666666667%;
  }

  .nine.col {
    width: 75%;
  }

  .ten.col {
    width: 83.33333333333333%;
  }

  .eleven.col {
    width: 91.66666666666667%;
  }

  .twelve.col {
    width: 100%;
  }

  /*.one-third.col               { width: 30.6666666667%; }
  .two-thirds.col              { width: 65.3333333333%; }*/
  .one-half.col {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 60%;
  }

  #dashboard {
    #side_menu {
      width: 25%;
    }
    #canvas, #canvas_filtr {
      width: 74%;
    }
  }
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

