<div class="row">
    
    <article class="three col item ">
        <div class="inner red">    
            <h2><?= __("Nastavení") ?></h2>

            <p>
               Sed vestibulum felis nec tempor ornare. Donec faucibus urna et fringilla dictum. Sed et lacus eget sapien tincidunt ornare. Vivamus molestie massa finibus ligula consequat auctor. Etiam nisi odio, rutrum sit amet sapien quis, sagittis eleifend turpis. Nullam mattis in massa fringilla dignissim.  
            </p>
        </div>
    </article>
    
    <article class="three col item">
        <div class="inner  green">    
            <h2><?= __("Nápověda") ?></h2>
            <p>
               Sed vestibulum felis nec tempor ornare. Donec faucibus urna et fringilla dictum. Sed et lacus eget sapien tincidunt ornare. Vivamus molestie massa finibus ligula consequat auctor. Etiam nisi odio, rutrum sit amet sapien quis, sagittis eleifend turpis. Nullam mattis in massa fringilla dignissim.  
            </p>
        </div>
    </article>
    
    <article class="three col item">
        <div class="inner  green">    
            <h2><?= __("FAQ") ?></h2>
            <p>
               Sed vestibulum felis nec tempor ornare. Donec faucibus urna et fringilla dictum. Sed et lacus eget sapien tincidunt ornare. Vivamus molestie massa finibus ligula consequat auctor. Etiam nisi odio, rutrum sit amet sapien quis, sagittis eleifend turpis. Nullam mattis in massa fringilla dignissim.  
            </p>
        </div>
    </article>
    
    <article class="three col item">
        <div class="inner  green">    
            <h2><?= __("Nápověda") ?></h2>
            <p>
               Sed vestibulum felis nec tempor ornare. Donec faucibus urna et fringilla dictum. Sed et lacus eget sapien tincidunt ornare. Vivamus molestie massa finibus ligula consequat auctor. Etiam nisi odio, rutrum sit amet sapien quis, sagittis eleifend turpis. Nullam mattis in massa fringilla dignissim.  
            </p>
        </div>
    </article>
    
</div>