<div class="row">
	<div id="filtration">
	<?php
		$this->Form->create("Shops");
		echo $this->Form->input("shops.name", ["placeholder" => __("Název provozovny"), "label" => false]);
		echo $this->Form->input("shops.name", ["placeholder" => __("Město"), "label" => false]);
		echo $this->Form->input("shops.name", ["placeholder" => __("Stát"), "label" => false]);
		echo $this->Form->input("shops.name", ["placeholder" => __("Ulice"), "label" => false]);
		echo $this->Form->input("shops.name", ["placeholder" => __("IČ"), "label" => false]);
		echo $this->Form->button(__("Hledat"), ["class" => "btn"]);
		$this->Form->end();
	?>
	</div>
</div>