<div class="menu">
  <ul>
  <?php
    echo '<li>'.$this->Html->link(__("Přehled"), ['action' => 'view', $main->id], ['class' => (($this->request->action == 'view')? 'active' : null)]).'</li>';
    echo '<li>'.$this->Html->link(__("Členové"), ['action' => 'view_contacts', $main->id], ['class' => (($this->request->action == 'viewCotacts')? 'active' : null)]).'</li>';
    echo '<li>'.$this->Html->link(__("Nastavení"), ['action' => 'view_contacts', $main->id], ['class' => (($this->request->action == 'viewCotacts')? 'active' : null)]).'</li>';
  ?>
  </ul>
</div>