<?php
	echo $this->Form->create($entity);
		echo $this->Form->hidden("collection_id", ["value" => $collection_id]);
		echo $this->Form->hidden("route_id", ["value" => $route_id]);
		echo $this->Form->hidden("shop_id", ["value" => $shop_id]);
		echo '<div class="row">';
			echo '<div class="four col">';
			echo '<table class="table-formated">';
				echo '<tr>';
					echo '<th colspan="2">'.__("Obchod (Majitel/provozní)").'</th>';
				echo '</tr>';
				echo '<tr>';
					echo '<td width="80px"><strong>'.__("Jméno:").'</strong></td>';
					echo '<td>'.$shop["bcontact_name"].'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td><strong>'.__("Telefon:").'</strong></td>';
					echo '<td>'.$shop["bcontact_phone"].'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td><strong>'.__("mobil:").'</strong></td>';
					echo '<td>'.$shop["bcontact_mobile"].'</td>';
				echo '</tr>';
			echo '</table>';
			echo '</div>';

			echo '<div class="four col">';
				echo '<table class="table-formated">';
					echo '<tr>';
						echo '<th colspan="2">'.__("Výdej").'</th>';
					echo '</tr>';
					echo '<tr>';
						echo '<td width="80px"><strong>'.__("Jméno:").'</strong></td>';
						echo '<td>'.$shop["contact_name"].'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td><strong>'.__("Telefon:").'</strong></td>';
						echo '<td>'.$shop["contact_mobile"].'</td>';
					echo '</tr>';
				echo '</table>';
			echo '</div>';
			$op_hours = unserialize($shop["opening_hours"]);
			echo '<div class="four col">';
				echo '<table class="table-formated">';
					echo '<tr>';
						echo '<th colspan="4">'.__("Provozní doba").'</th>';
					echo '</tr>';
					echo '<tr>';
						echo '<td><strong>'.__("Pondělí:").'</strong></td>';
						echo '<td></td>';
						echo '<td><strong>'.__("Pátek:").'</strong></td>';
						echo '<td></td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td><strong>'.__("Úterý:").'</strong></td>';
						echo '<td></td>';
						echo '<td><strong>'.__("Sobota:").'</strong></td>';
						echo '<td></td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td><strong>'.__("Středa:").'</strong></td>';
						echo '<td></td>';
						echo '<td><strong>'.__("Neděle:").'</strong></td>';
						echo '<td></td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td><strong>'.__("Čtvrtek").'</strong></td>';
						echo '<td></td>';
						echo '<td></td>';
						echo '<td></td>';
					echo '</tr>';
				echo '</table>';
			echo '</div>';

			echo '<div class="eight col">';
				echo $this->Form->input("note", ["label" => __("Poznámka")]);
			echo '</div>';

			echo '<div class="clear"></div>';

			echo '<h2>'.__("Obchodní").'</h2>';
			echo '<div class="four col">';

				echo '<div class="clear"></div>';

				echo '<table class="table-formated">';
					echo '<tr>';
						echo '<th colspan="2">'.__("Špinavý olej").'</th>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>';
						echo '<div class="four col">';
							echo $this->Form->input("Shops.shop_potentials.1.quan", ["label" => __("Množství")]);
						echo '</div>';
						echo '<div class="four col">';
							echo $this->Form->input("Shops.shop_potentials.1.price", ["label" => __("Cena")]);
						echo '</div>';
						echo '<div class="four col">';
							echo $this->Form->input("Shops.shop_potentials.1.freq", ["label" => __("Frekvence"), "options" => $freq]);
						echo '</div>';
						echo '<div class="twelve col">';
							echo $this->Form->input("Shops.shop_potentials.1.note", ["type" => "text", "label" => __("Poznámka")]);
						echo '</div>';
						echo '</td>';
					echo '</tr>';
				echo '</table>';
			echo '</div>';

	echo '<div class="four col">';
		echo '<table class="table-formated">';
		echo '<tr>';
		echo '<th colspan="5">'.__("Čistý olej").'</th>';
		echo '</tr>';
		echo '<tr>';
			echo '<th>'.__("Druh").'</th>';
			echo '<th width="25px">'.__("Množ.").'</th>';
			echo '<th width="50px">'.__("Cena").'</th>';
			echo '<th width="50px">'.__("Frekvence").'</th>';
			echo '<th>'.__("Poznámka").'</th>';
		echo '</tr>';
		echo '<tr>';
			echo $this->Form->hidden("Shops.shop_potentials.1.commodity_id", ['value' => __("1")]);
			echo $this->Form->hidden("Shops.shop_potentials.1.commodity_type_id", ['value' => __("1")]);

			echo '<td><strong>'.__("Řepka").'</strong></td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.1.quan", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.1.price", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.1.freq", ["label" => __("Frekvence"), "options" => $freq, "label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.1.note", ["type" => "text", "label" => false]).'</td>';
		echo '</tr>';
		echo '<tr>';
			echo $this->Form->hidden("Shops.shop_potentials.2.commodity_id", ['value' => __("2")]);
			echo $this->Form->hidden("Shops.shop_potentials.2.commodity_type_id", ['value' => __("1")]);

			echo '<td><strong>'.__("Slunečnice").'</strong></td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.2.quan", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.2.price", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.2.freq", ["label" => __("Frekvence"), "options" => $freq, "label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.2.note", ["type" => "text", "label" => false]).'</td>';
		echo '</tr>';
		echo '<tr>';

			echo $this->Form->hidden("Shops.shop_potentials.3.commodity_id", ['value' => __("3")]);
			echo $this->Form->hidden("Shops.shop_potentials.3.commodity_type_id", ['value' => __("1")]);

			echo '<td><strong>'.__("Palma").'</strong></td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.3.quan", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.3.price", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.3.freq", ["label" => __("Frekvence"), "options" => $freq, "label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.3.note", ["type" => "text", "label" => false]).'</td>';
		echo '</tr>';
		echo '<tr>';

			echo $this->Form->hidden("Shops.shop_potentials.4.commodity_id", ['value' => __("4")]);
			echo $this->Form->hidden("Shops.shop_potentials.4.commodity_type_id", ['value' => __("1")]);

			echo '<td><strong>'.__("Mix").'</strong></td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.4.quan", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.4.price", ["label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.4.freq", ["label" => __("Frekvence"), "options" => $freq, "label" => false]).'</td>';
			echo '<td>'.$this->Form->input("Shops.shop_potentials.4.note", ["type" => "text", "label" => false]).'</td>';
		echo '</tr>';
		echo '</table>';
	echo '</div>';
echo '</div>';
	echo '<div class="buttons">';
		echo $this->Form->hidden("event_type", ["id" => "event_type"]);
		echo $this->Form->unlockField("event_type");
		echo $this->Form->submit(__("Nezařadit"), ["class" => "btn grey SaveModal", "name" => "not"]);
		echo $this->Form->submit(__("Zařadit do svozu"), ["class" => "btn SaveModal", "name" => "add"]);
	echo '</div>';
	echo $this->Form->end();
?>